*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body,a, h1, ul,li{
	margin:0;
	padding:0;
	border:0;
}

a, a:visited{
	text-decoration:none;
	color:#333;
	outline:0;
	border:0;
}

img{
	max-width:100%;
	border:0;
}

body{
	font-family:Lato ,Arial, Helvetica;
	background:url(../images/bg.png) #e5e5e5;
	padding:10px;
	font-size:16px;
}

#wrapper{
	width:740px;
	max-width:100%;
	margin:0 auto;
}

#header, #footer{
	color: #EFEFEF;
	width:100%;
	padding:20px;
	background: rgba(20, 10, 0, .3);
	text-shadow:1px 1px #666;
	border-radius: 5px 5px;
	box-shadow:1px 2px 3px -1px #666;
	overflow:hidden;
}

	#heading{
		float:left;
		margin-top:4px;
	}

	#reload{
		float:right;
		position:relative;
		margin-top:4px;
	}

#remaining-time{
	margin: 20px 0 0;
	padding: 0 20px;
	position:relative;
	color: #333;
	font-size: 20px;
	text-shadow:1px 1px #fff;
	font-weight:bold;
}

#days{
	overflow:hidden;
	margin:10px 0;
	background: #ccc;
	border-radius:5px;
	/*box-shadow:1px 2px 3px -1px #666;*/
	box-shadow:1px 2px 0px 0px #eee;
}

	.days-item{
		width:20%;
		float:left;
		list-style:none;
		color:#333;
		border-left:1px solid #999;
		border-right:1px solid #eee;
		padding: 20px 0;
		text-align: center;
		
		text-shadow:1px 1px #efefef;
				
		background: rgb(229,229,229); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
		
		filter:none;
		
		border-bottom:2px solid #ccc;
	}

	.days-item:first-child {
		border-left:0;
	}

	.days-item:last-child{
		border-right:0;
	}
	
	.days-item:hover{
		background:#d0d0d0;
		border-bottom:2px solid #66aacc;
	}

#routine{
	position:relative;
	letter-spacing:1px;
	margin:20px 0;
}

	.routine-item{
		background:#dfdfdf;
		overflow:hidden;
		color:#333;
		margin:5px 0;
		box-shadow:1px 1px 2px -1px #666;
		border-radius:5px;
		text-align:center;
	}


	.active{
		font-weight:bold;
		background: #c0c0c0;
	}
	
		.time{
			width:40%;
			float:left;
			padding:10px;
			border-right:1px solid #999;
		}

		.subject{
			float:left;
			padding:10px;
			border-left:1px solid #eee;
		}
		
input[type="button"]{
	background: #DFDFDF;
	border:1px solid #333;
	margin:0 0 20px;
	padding:5px;
	border-radius:5px;
	color:#333;
}

input[type="button"]:hover{
	background:#D0D0D0;
}
	
#footer{
	overflow:hidden;
}

#footer-left{
	float:left;
}

#footer-right{
	float:right;
}

#footer-img{
	max-width:100%;
	height:128px;
}
	
	#site{
		margin:5px 0;
	}
	
	#site a{
		color:#efefef;
	}
	
	#site:hover{
		text-decoration:underline;
	}
	
@media only screen and (max-width:430px){ /*360px */
	.routine-item{
		margin:10px 0;
	}
	
	.time{
			width:100%;
			padding:5px;
			border:0;
			border-bottom:1px solid #999;
	}

	.subject{
			width:100%;
			padding:10px;
			border-top:1px solid #eee;
			background:#cfcfcf;
	}
	
	#footer-left{
		float:none;
	}
	
	#footer-right{
		float:none;
	}
}
