*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body,a, h1, ul,li{
	margin:0;
	padding:0;
	border:0;
}

a, a:visited{
	text-decoration:none;
	color:#333;
	outline:0;
	border:0;
}

img{
	max-width:100%;
	border:0;
}

body{
	font-family:Quicksland-light ,Arial, Helvetica;
	/* padding:0 10px; */
	font-size:16px;
}

#wrapper{
	width:740px;
	max-width:100%;
	margin:0 auto;
}

#header, #footer{
	color: #333;
	width:100%;
	padding:20px;
	background: #f5f5f5;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
	font-size:16px;
}

	#heading{
		float:left;
		margin-top:4px;
	}

	#reload{
		float:right;
		position:relative;
		margin-top:4px;
	}

#remaining-time{
	margin: 20px 0 0;
	padding: 0 20px;
	position:relative;
	color: #333;
	font-size: 20px;
	text-shadow:1px 1px #fff;
	font-weight:bold;
}

#days{
	overflow:hidden;
/* 	margin:10px 0;
	background: #ccc;
	box-shadow:1px 2px 3px -1px #666;
	box-shadow:1px 2px 0px 0px #eee; */
	border-bottom:1px solid #e5e5e5;
	background:#f5f5f5;
}

	.days-item{
		width:20%;
		float:left;
		list-style:none;
		color:#333;
		border-left:1px solid #ccc;
		/* border-right:1px solid #ccc; */
		padding: 20px 0;
		text-align: center;
		
		text-shadow:1px 1px #efefef;
	}

	.days-item:first-child {
		border-left:0;
	}

	.days-item:last-child{
		border-right:0;
	}
	
	.days-item:hover{
		background:#eee;
		/* border-bottom:2px solid #66aacc; */
	}

#routine{
	position:relative;
	letter-spacing:1px;
	margin:20px 0;
}

	.routine-item{
		background:#f5f5f5;
		overflow:hidden;
		color:#333;
		margin:5px 0;
		border-radius:5px;
		text-align:center;
	}


	.active{
		font-weight:bold;
		background: #efefef;
	}
	
		.time{
			width:40%;
			float:left;
			padding:10px;
			border-right:1px solid #ccc;
		}

		.subject{
			float:left;
			padding:10px;
		}
		
		.over{
			background:url("../images/check.png") no-repeat scroll 96.2% 50% #D0E8B4;
		}
		
input[type="button"]{
	background: #DFDFDF;
	border:1px solid #333;
	margin:0 0 20px;
	padding:5px;
	border-radius:5px;
	color:#333;
}

input[type="button"]:hover{
	background:#D0D0D0;
}
	
#footer{
	overflow:hidden;
}

#footer-left{
	float:left;
}

#footer-right{
	float:right;
}

#footer-img{
	max-width:100%;
	height:128px;
}
	
	#site{
		margin:5px 0;
	}
	
	#site a{
		color:#efefef;
	}
	
	#site:hover{
		text-decoration:underline;
	}
	
@media only screen and (max-width:430px){ /*360px */
	.routine-item{
		margin:10px 0;
	}
	
	.time{
			width:100%;
			padding:5px;
			border:0;
			border-bottom:1px solid #999;
	}

	.subject{
			width:100%;
			padding:10px;
			border-top:1px solid #eee;
			background:#cfcfcf;
	}
	
	#footer-left{
		float:none;
	}
	
	#footer-right{
		float:none;
	}
	
	.over{
		background:url("../images/check.png") no-repeat 96.2% 10% #D0E8B4;
	}
}
